.cart-container {
    width: 600px;
    margin: 30px auto 60px;
    min-height: 600px;
    
    .body {
        padding: 0 15px;

        .header {
            font-size: 2.4rem;
            line-height: 2.8rem;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .not-cart {
            font-size: 1.5rem;
            line-height: 2.1rem;
            padding: 10px;
        }

        .cart-list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .cart-item {
                display: flex;
                align-items: center;
                gap: 10px;
                
                .cart-item__img {
                    width: 200px;
                }

                .cart-info {
                    width: 220px;
                    font-size: 1.5rem;
                    line-height: 2.1rem;

                    .cart-item__name {
                        font-weight: 600;
                        font-size: 1.6rem;
                    }

                    p {
                        padding: 5px 0;
                    }

                    .controls {
                        display: flex;
                        align-items: center;
                        margin: 6px 0;
                        label {
                            margin-right: 6px;
                            font-size: 1.5rem;
                            line-height: 2.1rem;
                        }
                        button {
                            border: none;
                            height: 27px;
                            width: 27px;
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: bold;
                            font-size: 1.6rem;
                            transition: all 0.3s ease;
                            cursor: pointer;
                        }
                        button:hover {
                            opacity: 0.6;
                            background: #a8a6a6;
                        }
                        input {
                            border: none;
                            width: 60px;
                            height: 27px;
                            text-align: center;
                            font-size: 1.5rem;
                            background: #fafafa;
                        }
                    }

                    .highlight {
                        color: #777;
                        font-weight: 600;
                        padding-left: 4px;
                    }
                }

                .button-remove {
                    padding: 5px 10px;
                    background: red;
                    color: #fff;
                    border: none;
                    width: 100px;
                    font-size: 1.4rem;
                    font-weight: 600;
                    margin-left: 30px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .button-remove:hover {
                    opacity: 0.8;
                }
            }

            .result {
                font-size: 1.6rem;
                line-height: 2.4rem;
                margin-left: auto;
            }
        }
        .pay {
            width: 50%;
            margin: 14px 0 0 auto;
            background: #000;
            color: #fff;
            padding: 10px 15px;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        .pay:hover {
            opacity: 0.7;
        }
    }
    
}

@media (max-width: 660px) {
    .cart-container {
        width: 450px;

        .body {
            .cart-list {
                .cart-item {
                    .cart-info .cart-item__name {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .cart-container {
        .body {
            .cart-list {
                .cart-item {
                    flex-direction: column;
                    .cart-info {
                        width: 100%;
                    }
                    .button-remove {
                        float: left;
                        width: 15%;
                        margin-right: auto;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}