.wrap_category_page {
    width: 1300px;
    margin: 0 auto;
}

.category-item-container {
    display: flex;
}

.productFilter_container {
    width: 30%;
}

.category_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container_card_category {
    display: flex;
    flex-wrap: wrap;
}
.wrap_container_card_category{
    width: 75%;
}

.title_category {
    font-size: 1.9rem;
}

.container_card_category .product-card {
    width: 214px;
}
.color_circles{
        font-family: Arial, sans-serif;
        padding: 2rem;
        border: 1px solid #fffafa;
        border-radius: 8px;
        max-width: 300px;
}