.wrap_category_page {
    width: 1300px;
    margin: 0 auto;
}

.category-item-container {
    display: flex;
}

.productFilter_container {
    width: 30%;
}

.category_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container_card_category {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.title_category {
    margin-left: 30%;
    font-size: 1.9rem;
}

.container_card_category .product-card {
    width: 214px;
}
