.footer {
    padding: 40px 0;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    color: #333;
    border-top: 1px solid #ddd;
}

.footer-container {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
}

.footer-column h4 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #000;
}

.footer-column p {
    font-size: 1.4rem;
    line-height: 2.8rem;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
}

.footer-verified {
    margin-top: 10px;
    max-width: 120px;
}

.footer-social {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.footer-social i {
    font-size: 3rem;
    color: #ffcc00;
}

.footer-bottom {
    width: 1300px;
    margin: 20px auto 0;
    text-align: center;
    border-top: 1px dashed #ddd;
    padding-top: 24px;
    font-size: 1.4rem;
}

.hotline_item {
    padding-left: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 12px;
}

.hotline_wrap p i {
    color: #be1d2d;
}

.color_footer {
    color: #272727;
}
.column2{
    margin: 0 20px;
}
.column3{
    margin-left: 20px;
}
/* Thêm dấu "-" vào cột thứ hai */
.footer-column ul {
    list-style: none;
    padding: 0;
}

.formatted-list-item {
    margin: 8px 0;
    position: relative;
    padding-left: 20px;
}

.formatted-list-item::before {
    content: "-";
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    font-weight: bold;
}

.formatted-list-item {
    font-size: 1.4rem;
    line-height: 1.6;
}
/* Reponsive */
@media (max-width: 1356px) {
    .footer-container, .footer-bottom{
        width: 90%;
    }

}
@media (max-width: 1140px) {

}
@media (max-width: 990px) {
    .footer-column{
        flex: 0 1 auto; /* Giá trị mặc định */
    }
}
@media (max-width: 770px) {
}

@media (max-width: 560px) {

}

@media (max-width: 456px) {
}

@media (max-width: 428px) {
}