:root {
    --hover-corlor: #f15a29;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;

}

.line {
    background-color: #FFCC00;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.3rem;
    height: 36px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav {
    display: grid;
    
    grid-template-columns: 25% 50% 25%;
    background-color: white;
    width: 100%;
    min-height: 72px;
    border-bottom: 2px solid #ededed;
    justify-content: end;
    align-items: center;
    position: relative;
    z-index: 100;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    gap: 16px;
    
}
.nav-icon {
    display: flex;
    justify-content: end;
}
.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav.fixed {
    position: fixed;
    transition: transform 0.5s ease, position 0.1s ease-in-out;
    top: 0;

    transform: translateY(-100%); 
}

.nav.fixed.visible {
    transform: translateY(0); 
}
.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}


.nav ul li{
    list-style-type: none;
    margin-right: 40px;
}
.nav ul li a {
    font-size: 1.4rem;
    line-height: 2.3rem;
}
.nav__Product li:hover a, .nav__Link li:hover a {
    color: var(--hover-corlor);
    cursor: pointer;
}
.header-cart {
    position: relative;
    .cart-count {
        position: absolute;
        right: -8px;
        top: -10px;
        font-size: 1.4rem;
    }
}
.header-cart i:hover,
.header-search i:hover{
    color: var(--hover-corlor);
}
.discount {
    font-size: 1.4rem;
    line-height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 32px;
    background-color: #F1F1F1;
}
.discount-code {
    text-decoration: underline;
    color: red;
    margin: 0 4px;
}
.nav-toggle {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    z-index: 1001;
}
/* loginnnnnnnnnnnnnnn */
.logged-in{
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
}
.nav .logged-in .logged-in_info{
    position: absolute;
    top: 100%;
    right: -10px;
    width: calc(100% + 20px);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: none;

}
.nav .logged-in:hover .logged-in_info {
    display: block;
}
.nav .logged-in .logged-in_info .logged-in_info_item {
    padding: 1rem 1rem;
    width: 100%;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    line-height: 100%;
}
.nav .logged-in .logged-in_info .logged-in_info_item:hover{
    color: var(--hover-corlor);
}

.user_logged-in_info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .nav-icon .logged-in .user_logged-in_info:hover span, .nav .nav-icon .logged-in .user_logged-in_info:hover i{
    color: var(--hover-corlor);
}

.user_logged-in_info span{
    padding-right: 3px;
    line-height: 100%;
}
/* end loginnnnnnnnnnn */

@media (max-width: 1500px) {
    .nav-menu {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1024px) {
    
    .nav {
        grid-template-columns: 20% auto 20%;
        padding: 15px 10px;
    }
    .nav ul {
        flex-direction: row;
        flex-wrap: wrap; 
    }
    .logged-in {
        display: none !important;
    }
}
@media (max-width: 768px) {
    
    .nav {
        display: flex;
        justify-content: space-between;
    }
    .nav-toggle {
        display: flex; 
    }
    .nav-menu {
        position: fixed;
        top: 0;
        gap: 0;
        right: -250px;
        width: 250px; 
        max-height: 1080px;
        background-color: white;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        transition: right 0.3s ease-in-out;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }
    .nav-icon {
        display: flex;
        justify-content: end;
    }
    .nav-menu.active {
        right: 0; 
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu ul li {
        margin: 15px 0;
    }

    .nav-menu ul li a {
        font-size: 1.2rem;
        color: black;
    }
    .logged-in {
        display: none !important;
    }
}