.suitcase-info-container{
    width: 1300px;
    margin: 60px auto 60px;
    font-size: 1.5rem;
}
.suitcase-info-container ul{
    list-style: none;
    line-height: 2.6rem;
}
.suitcase-info-container .title{
    font-size: 2.4rem;
    line-height: 3.36rem;
    font-weight: 700;
    margin: 1rem 0;
}
.suitcase-info-container .description{
    margin-bottom: 0.5rem;
}
.suitcase-info-container .features-list li{
    margin: 0.2rem;
}